*
{
    margin : 0px;
    padding : 0px;
    scroll-behavior: smooth;
    overflow-x:hidden;
}


#header
{
    background-color:rgb(56, 197, 185);
    height : 80px;
    display: flex;
    flex-direction: row; 
    align-items: center;
}

#body
{
    height: auto;
    display: flex;
    flex-direction: column;
    background-color:darkslategrey;
}

#footer
{
    background-color: rgb(18, 24, 36);
    height: 80px;
    width: 100%;
    position : relative;
    bottom : 0px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color:aliceblue;
}

/*header*/
#menu
{
    margin-right:10px;
}
#menu img
{
    width: 32px;
    margin: 20px;
}
#menu img:hover
{
    width : 38px;
    transition: width 0.35s;
    transition-delay: 10ms;
    transition-timing-function: ease;
}
#menu img:not(:hover)
{
    width: 32px;
    transition: width 0.3s;
    transition-timing-function: ease;
}
#title
{
    color:aliceblue;
    position: relative;
    margin-right: auto;
    margin-left: 20px;
    padding:10px;
    border-radius: 5px;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 40px;
    font-weight: bold;
}
#more
{
    margin-left: auto;
}
#more img
{
    width: 20px;
    margin : 20px;
}
#moreinfo
{
    font-family: 'Bebas Neue', cursive;
}

/*body*/
.intro
{
    background-color: aliceblue;
    margin : 100px;
    height: 150px;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    border-radius: 10px;
}
#intro-para
{
    width: 70%;
    font-size: 30px;
    background-color: rgb(185, 101, 101);
    display: flex;
    align-items: center;
    justify-content: center;
}
#moreinfo
{
    width: 30%;
    background-color:rgba(220, 20, 60, 0.671);
    margin: auto; 
    padding: 10px;
}

/*body*/
.websites
{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
    height: auto;
    padding-bottom: 10px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 9px;
}
.music
{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
    height: auto;
    padding-bottom: 10px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 9px;
}
.title
{
    background-color:rgba(221, 160, 221, 0.418);
    border-radius: 9px;
    height: 10%;
    margin: 10px;
    padding: 10px;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 40px;
    width:min-content;
}
.blockdisplay
{
    height: 80% ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.block
{
    margin: auto;   
    padding: 3px;
    margin-bottom: 25px;
    height: 250px;
    background-color: rgba(22, 30, 37, 0.37);
}
.block a
{
    text-decoration: none;
    color:black;
}
.blockimg
{
    width: 350px;
    height: 200px;
    border: 3px solid rgba(37, 31, 31, 0.192);
}

/*footer*/
.credit
{
    margin: 10px;
    width: 40%;
}
.links
{
    margin: 10px;
    margin-left: auto;
    margin-right: 4 0px;
}
.links a
{
    text-decoration: none;
    color :aliceblue
}
.links ul {
    list-style-type: none;
}
.links ul li img
{
    height: 15px;
    margin-right: 10px;
    filter: invert(100%);
}
#disc
{
    height:12px;
}
.copy
{
    font-size: 12px;
}

/* For Mobile devices */
@media screen and (max-width: 450px){
    #title
    {
        margin-left: 0px;
        margin-top: 0px;
        padding-top: 0px;
        padding-left: 0px;
        font-size: 35px;
    }
    .intro{
        margin: 30px 10px 10px 0px;
    }

    .websites
    {
        margin: 30px 5px 30px 5px;
    }

    .music
    {
        height: auto;
        margin: 30px 5px 30px 5px;
        padding-bottom: 10px;
    }

    .blockdisplay
    {
        flex-direction: column;
    }
    .block
    {
        height: 250px;
        
    }
    .blockimg
    {
        width: 100%;
        height: 80%;
    }
    .links
    {
        margin-left: auto;
    }

    #intro-para
    {
        font-size: 20px;
    }
}

@media screen and (max-width: 850px){
    .intro
    {
        width:100%;
        margin-left:10px;
    }
}