/*UNIVERSAL*/
*{
    margin : 0px;
    padding : 0px;
    scroll-behavior: smooth;
    overflow-x:hidden;
    color: var(--tc);
}

/*ROOT VARIABLES*/
:root{
    --bc : #131716; /*Background color*/
    --tc : white; /*Text Color*/
    --btc : #2E4D37; /*button color*/
    --cc1 : #4C6869; /*Card color*/
    --cc2 : #889D8E;
}

/*SCROLLBAR HIDE*/
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }  
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: var(--bc);
}

/*FONTS*/
@font-face {
    font-family: 'dotted';
    src: url('/Fonts/dotted/nothing-font-5x7.ttf');
}

/*Major sections*/
.header
{
    height : 120px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin: auto;
    background-color: var(--bc);
    font-family: dotted;
    width: 90%;
}

.body
{
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--bc);
}

#footer
{
    background-color: var(--bc);
    height: 80px;
    width: 100%;
    position : relative;
    bottom : 0px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color: var(--tc);
    font-family: dotted;
}

/*header*/
.logo {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color:  white;
    text-shadow:1px 1px 10px rgba(255, 255, 255, 0.6), 1px 1px 15px rgba(255, 255, 255, 0.6);
}
.nav-links{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.nav-links a{
    margin: auto;
    text-decoration: none;
    padding: 10px 1px 10px 1px;
    width: 20%;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    font-size: 18px;
    color: var(--tc);
    text-shadow:1px 1px 10px rgba(255, 255, 255, 0.0), 1px 1px 15px rgba(255, 255, 255, 0.0);
}
.nav-links a:hover{
    color: red;
    text-shadow:1px 1px 20px red, 1px 1px 10px red;
}

/*body*/
#me{
    width: 300px;
    border-radius: 20px;
    border: 2px solid;
    background-color: var(--cc2);
}
.intro
{
    height: 500px;
    display: flex;
    background-color: var(--bc);
    font-family: dotted;
    margin: auto;
    width: 80%;
}
#intro-para
{
    width: 40%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#moreinfo
{
    width: 60%;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
#moreinfo h1{
    font-size: 45px;
    color: red;
    font-weight: 300;
    text-shadow:1px 1px 10px rgba(255, 0, 0, 0.4), 2px 2px 10px rgba(255, 0, 0, 0.4);
    margin: auto;
}
#moreinfo p{
    font-size: 16px;
    font-weight: 10;
    line-height: 30px;
    text-align: center;
}
#introbtns{
    width: 100%;
    display: flex;
    margin: auto;
}
.introbtn{
    width: auto;
    border: 1px solid;
    margin: auto;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 10px;
    transition: 0.5s;
    padding: 5px;
}
.introbtn img{
    width: 35px;
    margin-right: auto;
    filter: invert(100%); 
    transition: 0.5s;
}
.introbtn p{
    margin: auto;
    padding: 0px 5px 0px 10px;
}
.introbtn:hover{
    background-color: var(--tc);
    color: var(--bc);
}
.introbtn:hover > img{
    filter: none;
}
.introbtn:hover > p{
    color: var(--bc);
}


/*body*/
.card{
    width: 80%;
    background-color: var(--bc);
    border-radius: 20px;
    margin: 30px auto 30px auto;
}
.title{
    width: 90%;
    font-family: dotted;
    font-weight: 200;
    font-size: 40px;
    padding: 20px;
    margin: auto;
    font-weight: 500;
}
/*BLOG CARD*/
.blog{
    display: flex;
    margin: auto;
}
.img{
    width: 35%;
    margin: auto;
    height: 100%;
}
.img img{
    width: 98%;
    border-radius: 20px;
    margin: auto;
    border: 2px solid var(--cc2);
}
.content{
    width: 55%;
    height: 300px;
    display: flex;
    flex-direction: column;
    font-family: dotted;
    font-weight:lighter;
}
.blog-header{
    margin: auto 0px;
}
.blog-title {
    font-size: 30px;
}
.blog-date{
    font-size: 20px;
}
.content p{
    margin: auto;
}
.blog-btn{
    height: 30px;
    background-color: var(--bc);
    border-radius: 10px;
    border: 2px solid var(--cc2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto;
    text-decoration: none;
}
.cards{
    display: flex;
    font-family: dotted;
}
.venturecard{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.venturecard img{
    width: 150px;
    filter: invert(100%);
    margin-bottom: 10px;
}
#ventures{
    margin: 100px auto;
}
/*footer*/
.credit
{
    margin: 10px;
    width: 40%;
}
.links
{
    margin: 10px;
    margin-left: auto;
    margin-right: 4 0px;
}
.links a
{
    text-decoration: none;
    color :aliceblue
}
.links ul {
    list-style-type: none;
}
.links ul li img
{
    height: 15px;
    margin-right: 10px;
    filter: invert(100%);
}
#disc
{
    height:12px;
}
.copy
{
    font-size: 12px;
}

/* For Mobile devices */
@media screen and (max-width: 450px){
    #title
    {
        margin-left: 0px;
        margin-top: 0px;
        padding-top: 0px;
        padding-left: 0px;
        font-size: 35px;
    }
    .intro{
        margin: 30px 10px 10px 0px;
    }

    .websites
    {
        margin: 30px 5px 30px 5px;
    }

    .music
    {
        height: auto;
        margin: 30px 5px 30px 5px;
        padding-bottom: 10px;
    }

    .blockdisplay
    {
        flex-direction: column;
    }
    .block
    {
        height: 250px;
        
    }
    .blockimg
    {
        width: 100%;
        height: 80%;
    }
    .links
    {
        margin-left: auto;
    }

    #intro-para
    {
        font-size: 20px;
    }
}

@media screen and (max-width: 850px){
    .intro
    {
        width:100%;
        margin-left:10px;
    }
}